* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }

body {
  background-color: #0A192F;
  font-size: 12px;
}

#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-nav li
{
  margin: 10px;
padding: 0 2px;
list-style: none;

}
.navbar-nav li a
{
float: left;
text-align: left;

font-weight: bold;
}
#nav-bar ul li a:hover
{

font-weight: bold;
}
.navbar
{
background: white!important;
text-decoration-style: none;
display: flex;
}
.icon
{
border: #222762!important;
font-size: 28px;
color: #00000080!important;
padding: 8px;
}
.navbar-toggler-icon
{
  color: white;
}
.nav-link
{

font-weight: 600;
font-size: 14px;
}
.nav-link-resume
{
  color: #222762!important;
font-weight: 600;
font-size: 14px;
  border: 2px solid #222762 !important;
    transition: .5s;
    padding: 3px 5px 3px 5px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #f1f1f1;
  float: left;
  width: 80%;
  height: 38px;
  background: #f1f1f1;
}

form.example button {
  float: left;
  height: 38px;
  width: 20%;
  padding: 10px;
  background: #f1f1f1;
  font-size: 17px;  
  border-left: none;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

form.example button:hover {
  background: #0b7dda;
  border: none;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
#hdec
{
background-image: url(img2.jpg);
min-height: 300px;
background-size: cover;
background-attachment: fixed;
padding: 70px;
font-family: sans-serif;
font-size: 38px;
}
#home-decor .like{
 color: red;
 float: right;
}
#home-decor{
  margin-right:4%;
  margin-top: 4%;  
  font-weight: bold;
}
#home-decor .col-lg-6{
  padding-bottom: 30px; 
  padding-left: 20px; 
  padding-right: 10px; 

}
#home-decor .col-lg-3{
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 30px; 
}
#home-decor .w3-container{
  padding: 30px;
  background-color: #7DC855;
  margin: 10px;
}
#home-decor .w3-padding-64{
 
 
}
#home-decor .w3-bar-block{ 
  color: black;  
}
#home-decor .w3-bar-item{
  color: black;
  
  font-size: 1.1rem;
}
#home-decor .w3-bar-item:hover{
  color: black;
  background-color: red;
  background: #0b7dda;
}
#home-decor .left-column {
  width: 100%;
  position: relative;
}
 
#home-decor .right-column {
  width: 100%;
  
}
#home-decor .left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
#home-decor .left-column img.active {
  opacity: 1;
}
#home-decor .product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
#home-decor .product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
#home-decor .product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
#home-decor .product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
.product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] {
  display: none;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
  background-color: #C91524;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
  background-color: #314780;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.product-price a:hover{
  color: white;
}
.cart-btn:hover {
  background-color: #9DC859;
}
#promo
{
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(woods1.jpg);
background-size: cover;
background-position: center;
color: #fff;
background-attachment: fixed;
text-align: center;
padding: 100px;
font-family: sans-serif;
font-size: 38px;
height: 30%
}